html {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2 {
    text-transform: uppercase;
}
button, input[type=color] {
    background: transparent;
    border: 2px #e6e2da solid;
    color: #e6e2da;
}
button {
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
button:hover, input[type=color]:hover {
    background-color: #e6e2da3f;
}
p + div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 48
}
.container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
#color1, #color2 {
    border-radius: 5px;
    cursor: pointer;
}
#randomizer {
    margin: 15px 0 10px 0;
}
#copyToClipboard {
    padding: 4px 6px;
    margin-left: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    visibility: hidden;
    opacity: 0;
}
.tooltip .tooltiptext {
    width: 80px;
    background-color: #e6e2da67;
    color: #e6e2da;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 62%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.2s;
}
#toggleFormat {
    padding: 10px;
}
@media (max-width: 630px){
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    #currentCSS {
        font-size: 0.85em;
    }
}
@media (max-width: 500px){
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.1em;
    }
    #currentCSS {
        font-size: 0.75em;
    }
}