:root {
    --clr-neutral--300: #cacaca;
    --clr-neutral--200: #d8d8d8;
    --clr-neutral-50: #e6e2da;
}
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    margin-top: 3em;
}
h1, h2 {
    text-transform: uppercase;
}
main {
    display: grid;
    place-items: center;
    margin: 1.8rem 1rem;
}
button, input[type=color] {
    background: transparent;
    border: 0.2em var(--clr-neutral-50) solid;
    color: var(--clr-neutral-50);
}
button {
    outline: none;
    cursor: pointer;
    padding: 0.8em;
    border-radius: 0.45em;
}
button:hover, input[type=color]:hover {
    background-color: rgba(230, 226, 218, 0.247);
}
code {
    padding-block: 1em;
}
code + div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}
footer {
    max-width: 100vw;
    font-size: clamp(0.7rem, 1vw, 0.85rem);
    display: grid;
    justify-items: center;
    color: var(--clr-neutral--200);
    background: rgba(0, 0, 0, 0.3);
    margin-top: auto;
}
footer a {
    color: var(--clr-neutral--200);
}
footer a:hover, footer a:active {
    color: var(--clr-neutral--300);
}
#color1, #color2 {
    border-radius: 0.45em;
    cursor: pointer;
}
#randomizer {
    margin: 1rem 0 0.6rem 0;
}
#copyToClipboard {
    padding: 0.57em 0.6em;
    margin-left: 0.5rem;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    visibility: hidden;
    opacity: 0;
}
.tooltip .tooltiptext {
    background-color: rgba(230, 226, 219, 0.404);
    color: var(--clr-neutral-50);
    text-align: center;
    border-radius: 0.3em;
    padding: 0.4em;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 96%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.2s;
}
#toggleFormat {
    padding: 0.75em;
}
.contactInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 0.8rem 1.5rem;
}
.contactInfo > a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}